<form>
    <h1> {{ actor.name }} </h1>

    <h2> Explicit Details: </h2>

    <div id="hench-explicit-details">
        <p>Name: {{ actor.system.name }}</p>
        <p>Look: {{ actor.system.look }}</p>
        <h3> Detail Answers: </h3>
        <div>
            <p>Answer 1: {{ actor.system.detailAnswers.one }}</p>
            <p>Answer 2: {{ actor.system.detailAnswers.two }}</p>
        </div>
        <p>Custom Inclination: {{ actor.system.customInclination }}</p>
        <h3> Harm: </h3>
        <div>
            <h4>Level 1:</h4>
            <div>
                <p>1 {{#if actor.system.harm.levelOne.one.marked }} X {{ else }} O {{/if}}: {{actor.system.harm.levelOne.one.description }}</p>
                <p>1 {{#if actor.system.harm.levelOne.two.marked }} X {{ else }} O {{/if}}: {{actor.system.harm.levelOne.two.description }}</p>
            </div>
            <h4>Level 2:</h4>
            <div>
                <p>1 {{#if actor.system.harm.levelTwo.one.marked }} X {{ else }} O {{/if}}: {{ actor.system.harm.levelTwo.one.description }}</p>
                <p>1 {{#if actor.system.harm.levelTwo.two.marked }} X {{ else }} O {{/if}}: {{ actor.system.harm.levelTwo.two.description }}</p>
            </div>
            <h4>Level 3:</h4>
            <div>
                <p>1 {{#if actor.system.harm.levelThree.one.marked }} X {{ else }} O {{/if}}: {{actor.system.harm.levelThree.one.description }}</p>
            </div>
            <h4>Level 3:</h4>
            <div>
                <p>1 {{#if actor.system.harm.levelFour.one.marked }} X {{ else }} O {{/if}}: {{actor.system.harm.levelFour.one.description }}</p>
            </div>
        </div>
        <p>Stress: {{ actor.system.stress }}</p>
        <p>Experience: {{ actor.system.experience }}</p>
        <p>Playbook: {{ actor.system.playbook }}</p>
    </div>

    <h2>Implicit Details:</h2>
    <div>
        <p>Is Dead: {{ actor.system.dead }}</p>
        <p>Gear Limit: {{ actor.system.gearLimit }}</p>
        <p>Has playbook selected: {{ actor.system.hasPlaybookSelected }}</p>
        <h3> Detail Questions: </h3>
        <div>
            <p>Question 1: {{ actor.system.detailQuestions.one }}</p>
            <p>Question 2: {{ actor.system.detailQuestions.two }}</p>
        </div>
        <h3> Inclinations: </h3>
        <div>
            <p>Inclination 1: {{ actor.system.inclinations.one }}</p>
            <p>Inclination 2: {{ actor.system.inclinations.two }}</p>
            <p>Inclination 3: {{ actor.system.inclinations.custom }}</p>
        </div>
        <h3>Mission Planning</h3>
        <div>
            <p>Question 1: {{ actor.system.missionPlanningQuestions.one }}</p>
            <p>Question 2: {{ actor.system.missionPlanningQuestions.two }}</p>
            <p>Question 3: {{ actor.system.missionPlanningQuestions.three }}</p>
        </div>
        <h3>Experience Triggers:</h3>
        <div>
            <p>Trigger 1: {{ actor.system.expTriggers.one }}</p>
            <p>Trigger 2: {{ actor.system.expTriggers.two }}</p>
            <p>Trigger 3: {{ actor.system.expTriggers.three }}</p>
            <p>Trigger 4: {{ actor.system.expTriggers.four }}</p>
        </div>
    </div>
</form>