<form>
    <h1> {{ actor.name }} </h1>

    <h2> Details: </h2>

    <div id="hench-explicit-details">
        <p>Name: {{ actor.system.name }}</p>
        <p>Look: {{ actor.system.look }}</p>
        <div>
            <span><b>Playbook:</b></span>
            <select class="hench-hench-sheet-playbook-dropdown">
                {{#each playbookKeys}}
                    <option value="{{this.key}}" {{#if this.selected}}selected{{/if}}>{{this.key}}</option>
                {{/each}}
            </select>
        </div>
        <h3> Details </h3>
        <div>
            <ul>
                {{#each actor.system.details}}
                    <li><b>{{this.question}}</b>: {{this.answer}}</li>
                {{/each}}
            </ul>
        </div>
        <h3> Inclinations </h3>
        <div>
            <ul>
                {{#each actor.system.inclinations}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <h3>Mission Planning</h3>
        <ul>
            {{#each actor.system.missionPlanning}}
                <li>{{this}}</li>
            {{/each}}
        </ul>

        <p><b>Gear Limit</b>: {{actor.system.gearLimit}}</p>

        <h3>Gear</h3>
        <ul>
            {{#each actor.system.gear}}
                <li><b>{{#if this.marked}} X {{else}} O {{/if}}</b> {{this.description}}</li>
            {{/each}}
        </ul>

        <h3> Harm: </h3>
        <div>
            <h4>Level 1:</h4>
            <ul>
                {{#each actor.system.harm.levelOne}}
                    <li><b>{{#if this.marked}} X {{else}} O {{/if}}</b> {{this.description}}</li>
                {{/each}}
            </ul>
            <h4>Level 2:</h4>
            <ul>
                {{#each actor.system.harm.levelTwo}}
                    <li><b>{{#if this.marked}} X {{else}} O {{/if}}</b> {{this.description}}</li>
                {{/each}}
            </ul>
            <h4>Level 3:</h4>
            <ul>
                {{#each actor.system.harm.levelThree}}
                    <li><b>{{#if this.marked}} X {{else}} O {{/if}}</b> {{this.description}}</li>
                {{/each}}
            </ul>
            <h4>Level 3:</h4>
            <ul>
                {{#each actor.system.harm.levelFour}}
                    <li><b>{{#if this.marked}} X {{else}} O {{/if}}</b> {{this.description}}</li>
                {{/each}}
            </ul>
        </div>
        <p>Stress: {{ actor.system.stress }}</p>
        <h3>Experience Triggers</h3>
        <ul>
            {{#each actor.system.experienceTriggers}}
                <li><b>{{#if this.marked}} X {{else}} O {{/if}}</b> {{this.description}}</li>
            {{/each}}
        </ul>
        <p>Experience: {{ actor.system.experience }}</p>

        <h3>Advancements</h3>
        <ul>
            {{#each actor.system.baseAdvancements}}
                <li><b>{{#if this.marked}} X {{else}} O {{/if}}</b> {{this.description}}</li>
            {{/each}}
            <hr />
            {{#each actor.system.exAdvancements}}
                <li><b>{{#if this.marked}} X {{else}} O {{/if}}</b> {{this.description}}</li>
            {{/each}}
        </ul>
    </div>
</form>